h3#today {{type}}

table.table.table-bordered.table-responsive
  thead
    tr
      th where
      th when
      th what
  tbody
    tr(ng-repeat='h in happyhours')
      td {{h.name}}
      td {{(h[date][0]) === 'all' ? 'all day' : ((h[date][0]/60) > 12 ? (h[date][0]/60 - 12) : (h[date][0]/60)) +'-'+ (h[date][1]/60 - 12)}}
      td {{h[date][2]}}

