h3#today today's happy hours

table.table.table-bordered.table-responsive
  thead
    tr
      th where
      th when
      th what
  tbody
    tr(ng-repeat='h in happyhours')
      td {{h.name}}
      td {{h[date][0]}}
      td {{h[date][1]}}

