h3 {{type}}

.row
  .col-xs-2
  .col-xs-8
    table#all.table.table-bordered
      thead
        tr
          th place
          th neighborhood
      tbody
        tr(ng-repeat='h in happyhours')
          td: a(href= '/#/happyhours/{{h._id}}') {{h.name}}
          td {{h.neighborhood}}
  .col-xs-2

.row
  .col-xs-12
    div(lc-restaurant, business='{{loc}}') {{loc}}
