h3 {{type}}

.row
  .col-xs-2
  .col-xs-8
    table.table(ng-table='tableParams')
        tbody(ng-repeat='group in $groups')
            tr.ng-table-group
              td(colspan='{{$columns.length}}')
                a(href='', ng-click='group.$hideRows = !group.$hideRows')
                  span.glyphicon(ng-class='{ \'glyphicon-chevron-down\': group.$hideRows, \'glyphicon-chevron-right\': !group.$hideRows }') &nbsp
                  strong {{ group.value }}
            tr(ng-show='group.$hideRows', ng-repeat='user in group.data')
              td(sortable='name'): a(href='/#/happyhours/{{user._id}}') {{user.name}}
